node_modules/
dist/
unpackage/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

project.private.config.json
src/.hbuilderx/

新建文本文档.txt
